extends layout

block content
	.container
		form(style='padding-top: 200px', method='post', action='/add')
			.form-group.row
				.col-sm-10
					input#colFormLabelLg.form-control.form-control-lg(name='hobby', type='text', placeholder='Enter any hobby you like like eating donuts')
				.col-sm-2
					button.btn.btn-primary(type='submit') Add