extends layout

block content
	.container
		.row(style='padding-top:50px')
			.offset-md-4.col-md-4
				h1.text-center= title
				p.text-center Welcome to #{title}
				if !user
					a.btn.btn-primary.col-md-6.text-center(href='/signup', role='button') Signup
					a.btn.btn-outline-primary.col-md-6.text-center(href='/login', role='button') Login