doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
		link(rel='stylesheet', href='stylesheets/style.css' )
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarTogglerDemo01.collapse.navbar-collapse
				a.navbar-brand(href='/') Hobie
				ul.navbar-nav.mr-auto.mt-2.mt-lg-0
					li.nav-item.active
						a.nav-link(href='/hobbies')
							|Hobbies
							span.sr-only (current)
					li.nav-item
						a.nav-link(href='/add') Add
				form.form-inline.my-2.my-lg-0
				if !user
					a.btn.btn-outline-success.my-2.my-sm-0(href='/login') Login
					a.btn.btn-outline-success.my-2.my-sm-0(href='/signup') Signup
				if user
					a.btn.btn-outline-success.my-2.my-sm-0(href='/logout') Logout
					//if user.isLoggedIn
						button.btn.btn-outline-success.my-2.my-sm-0(type='submit' href='/signup') Logout
					//else
						button.btn.btn-outline-success.my-2.my-sm-0(type='submit' href='/signup') Login
						button.btn.btn-outline-success.my-2.my-sm-0(type='/login') Signup
		!= messages()
		block content
		script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')