extends layout

block content
	.container
		.row
			.offset-md-4.col-md-4(style='padding-top: 40px')
				.alert.alert-success.alert-dismissible.fade.show(role='alert')
					strong Hey Yo. Welcome back. Keep adding hobbies
					button.close(type='button', data-dismiss='alert', aria-label='Close')
						span(aria-hidden='true') ×
				h1 #{title}
				form(method='post', action='/login')
					.form-group.row
						label.col-sm-3.col-form-label(for='inputEmail3') Email
						.col-sm-9
							input#inputEmail3.form-control(name='username' type='email', placeholder='Enter Email address')
					.form-group.row
						label.col-sm-3.col-form-label(for='inputPassword3') Password
						.col-sm-9
							input#inputPassword3.form-control(name='password' type='password', placeholder='Enter a strong Password')
					button.btn.btn-primary(type='submit') Login