extends layout

block content
	.container
		.row
			.offset-md-4.col-md-4(style='padding-top: 40px')
				if errors  
					ul
						for error in errors
							li.alert.alert-danger.fade.show!= error.msg
				h1.text-center Hobee the App
				p.text-center Your favorite app to track your favorite hobbies
				form(method='post', action='/signup')
					.form-group.row
						label.col-sm-3.col-form-label(for='inputEmail3') Email
						.col-sm-9
							input#inputEmail3.form-control(name='email', type='email', placeholder='Email')
					.form-group.row
						label.col-sm-3.col-form-label(for='inputPassword3') Password
						.col-sm-9
							input#inputPassword3.form-control(name='password', type='password', placeholder='Password')
					.form-check
						label.form-check-label
							input.form-check-input(type='checkbox')
							| 		      		Agree to 
							a(href='/TnC') Terms and Conditions
					button.btn.btn-primary(type='submit') Sign Up