body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.success li, ul.info li, ul.error li{
	margin: 20px 0;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	list-style: none;
}

ul.success li{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

ul.info li{
	color: #3c763d;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
ul.error li{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}